<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/static/stylesheets/style.css' />
    <script type="text/javascript" src="/static/js/sea/sea.js"></script>
    <script type="text/javascript" src="/static/js/sea/sea-config.js"></script>
    <script type="text/javascript">
    seajs.use("index");
    </script>
  </head>
  <body>
    <div class="mask"></div>
    <button onclick="ajax2();">ajax增强</button>
  </body>
</html>
